@import url('https://fonts.googleapis.com/css2?family=Exile&display=swap');

:root {
    --cor-de-fundo: #000000ef;
    --verde:#000000;
    --branco: hsl(330, 89%, 46%);
    --botao-ativo: #3A375E;
    --botao-inativo:rgb(224, 224, 255);
    --texto-fundo: rgba(58, 55, 94, 0.5);
 }
 body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Exile';
 }
 
 .conteudo-principal{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
 }

 .titulo-principal{
   text-align: left;
   width: 100%;
   font-size: 32px;
 }

 .titulo-principal span{
   color: deeppink;
 }

.botao{
   background-color: var(--botao-inativo);
   color: var(--branco);
   display: flex;
   justify-content: center;
   pad: 1em;
   font-size: 18px;
   align-items: center;
   width: 100%;
   border-bottom: 4px solid var(--botao-inativo);
   border-left: 2px solid var(--botao-ativo);
   border-right: 2px solid var(--botao-ativo);
}